.mgm-scroll-stack {
  position: relative;
}

.mgm-scroll-stack-card {
  position: relative;
  display: block;
  box-sizing: border-box;
  margin-bottom: 3rem;
}

.mgm-scroll-stack-card:last-child {
  margin-bottom: 0;
}

.mgm-scroll-stack-end {
  width: 100%;
  height: 1px;
}
